:root{
    --nav-bgc: #DDD;
}

*{
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    background-color: #BEEEEF;
}

#content{
    height: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
}

#nav{
    background-color: var(--nav-bgc);
    height: 100%;
}

#task-creator{
    background-color: aquamarine;
}

.modal{
    margin: 4rem auto;
}

#task-display{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1rem;
}

.card{
    display: flex;
    background-color: #EEE;
    border: 1px solid #EEE;
    border-radius: 15px;
    padding: 1rem;
    font-size: 1.1rem;
}