*{
    margin: 0;
}

body{
    background-color: #24232e;
    height: 100vh;
}

#content{
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 1fr;
}

#nav{
    background-color:  rgb(97, 31, 31);
    padding: 1rem;
}

#projects-list{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.project-nav{
    text-align: center;
    background-color: firebrick;
    border: 3px solid firebrick;
    border-radius: 5px;
    padding: 0.1rem;
    user-select: none;
    color: #FFF;
}
.project-nav:hover{
    background-color: rgb(177, 67, 67);
    border: 3px solid rgb(177, 67, 67);
}

#create-project{
    width: 50%;
    margin: auto;
    margin-top: 1.2rem;
    padding: .2rem;
    background-color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 15px;

    text-align: center;
}
#create-project:hover{
    background-color: #fff;
    border: 1px solid #fff;
}

#task-creator{
    background-color: firebrick;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4rem;
    color: #FFF;
    padding: 0 5rem;
}

#task-creator > button{
    padding: 0.7rem 1.3rem;
    background-color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 15px;
    font-size: 1.3rem;
}
#task-creator > button:hover{
    background-color: #fff;
    border: 1px solid #fff;
}

.modal{
    margin: 4rem auto;
}

#task-display{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 0.7rem;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #EEE;
    border: 1px solid #EEE;
    border-radius: 4px;
    padding: 0.3rem 2rem;
    font-size: 1.8rem;
}

.card > input[type='checkbox']{
    height: 1.7rem;
    width: 1.7rem;
}