:root{
    --nav-bgc: #DDD;
}

*{
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    background-color: #BEEEEF;
}

#content{
    height: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
}

#nav{
    background-color: var(--nav-bgc);
    height: 100%;
}

.project-nav{
    text-align: center;
    background-color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 15px;
    padding: 0.1rem;
    user-select: none;
}
.project-nav:hover{
    background-color: rgb(195, 252, 233);
    border: 1px solid rgb(195, 252, 233);
}

#create-project{
    margin-top: 1rem;
    padding: .2rem;
    background-color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 15px;

    text-align: center;
}
#create-project:hover{
    background-color: #fff;
    border: 1px solid #fff;
}

#task-creator{
    background-color: aquamarine;
}

.modal{
    margin: 4rem auto;
}

#task-display{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1rem;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #EEE;
    border: 1px solid #EEE;
    border-radius: 15px;
    padding: 1rem;
    font-size: 1.1rem;
}

.card > input[type='checkbox']{
    /* pointer-events: none; */
    height: 1rem;
    width: 1rem;
}